.wrapper {
    /*background: rgb(175, 175, 175);*/
    background-image: url('https://i.pinimg.com/originals/ac/e3/77/ace3779b91a03b533656395ac969ab0a.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    padding-bottom: 50px;
  }